//===============================================================//
//===// Incorporating required mobile layout scss variables //===//
//===============================================================//

@use '../global' as *;
@use '../components' as *;

//==============================================//
//===// Responsive layout - mobile layout //===//
//==============================================//

@include mobile {
  //====================//
  //===// Reusable //===//
  //====================//

  //===// Scroll up //===//

  .scrollUp {
    left: 7.5px;
  }

  //================//
  //===// Main //===//
  //================//

  //===// Section spacing //===//

  section + section {
    padding: 3.7em 0 2.7em;
  }

  //===// Section elements //===//

  .section {
    &__title {
      font-size: 2.25rem;
    }

    &__text {
      font-size: 1.15rem;
    }
  }

  //==================================//
  //===// Main > Landing section //===//
  //==================================//

  //===// Landing > navbar //===//

  .nav {
    &-toggle,
    &-close {
      display: none;
    }

    &__list {
      all: unset;
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
    }

    &__item {
      & + & {
        margin-left: 1em;
      }
    }

    &__link {
      font-size: 1.3rem;
    }
  }

  //===// Landing > hero //===//

  .hero {
    min-width: 35rem;
  }

  //===// Landing > emoji //===//

  .emoji-box {
    font-size: 15vmax;
    margin: 0.5rem auto 0;
  }

  //=========================//
  //===// Main > Impact //===//
  //=========================//

  .impact {
    &__emoji {
      &--quote {
        &--inner,
        &--outer {
          bottom: -31.5px;
          right: -31.5px;
        }
      }
    }
  }

  //==================//
  //===// Footer //===//
  //==================//

  //===// Footer > Content //===//

  .footer {
    &__text {
      font-size: 1.15rem;
    }
  }

  //==================//
  //===// Assets //===//
  //==================//

  //===// Buttons //===//

  .btn {
    &--scrollUp {
      font-size: 2.5rem;
    }

    &--outer {
      font-size: 1rem;
    }

    &--inner {
      font-size: 1.175rem;
    }
  }

  //===// Popup //===//

  .popup {
    &__title {
      font-size: 2.1rem;

      &--icon {
        font-size: 1.8rem;
      }
    }

    &__subtitle {
      font-size: 1.5rem;
    }

    &__text {
      font-size: 1.35rem;

      & + & {
        margin-top: 0.5em;
      }

      &:last-of-type {
        margin-bottom: 1.8rem;
      }
    }

    &__link {
      font-size: 1.175rem;
      margin-left: 0.25em;
    }

    &__circle {
      top: 55%;
      font-size: 0.5rem;
      transform: translateY(-55%);
    }
  }
}
